<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!-- This is my bean for the class -->
 <bean class="com.learn.core.SpringCoreDemo.DigitalBookEntity.Book" name="book1">
 <constructor-arg value="UandMe" />
 <constructor-arg value="RomCom" />
 <constructor-arg value="Chetan" />
 <constructor-arg value="90" />
 <constructor-arg value="ABCD" />
 <constructor-arg value="PRISM" />
 <constructor-arg value="2001-01-01" />

  
 </bean>
 
 </beans>